# Author: William C. Canin <https://williamcanin.github.io>

# Windows taken from: https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# ----------------------------------------------------------------------------------------------
Desktop.ini
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/

# Linux
# ----------------------------------------------------------------------------------------------
*~
**/*/*.tar
**/*/*.tar.*

# Rust taken https://github.com/github/gitignore/blob/main/Rust.gitignore
# ----------------------------------------------------------------------------------------------
target/
**/*/target/
Cargo.lock
**/*/Cargo.lock
**/*/*.pdb
**/*/*.lock
**/*.rs.bk

# Python taken https://github.com/github/gitignore/blob/main/Python.gitignore
# ----------------------------------------------------------------------------------------------
**/*/build/
**/*/__pycache__/
**/*/.tox/
**/*/cmake-build-debug/
**/*/cmake-build-release/
**/*/dist/
**/*/venv/
**/*/*.tcl#
**/*/.venv/
**/*/.env/
**/*/env/
**/*/*.egg-info/
**/*/poetry.lock
**/*/.isort/
**/*/.mypy/

# NodeJS taken https://github.com/github/gitignore/blob/main/Node.gitignore
# ----------------------------------------------------------------------------------------------
node_modules/
**/*/node_modules/
dist/
**/*/dist/
dist-ssr
*.local
**/*/public/
**/*/package-lock.json

# Vim taken from: https://github.com/github/gitignore/blob/master/Global/vim.gitignore
# ----------------------------------------------------------------------------------------------
.*.sw[a-z]
.netrwhist
*.un~
Session.vim

# Editors: directories and files
# ----------------------------------------------------------------------------------------------
.vscode/
**/*/.vscode/
!.vscode/extensions.json
.idea/
**/*/.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
# ----------------------------------------------------------------------------------------------
logs
**/*/~
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Files and folder .bak
# ----------------------------------------------------------------------------------------------
**/*/*.bak

# Files and folders several
# ----------------------------------------------------------------------------------------------
**/*/*.exe
**/*/*.msi
**/*/*.dll
**/*/tmp/
**/*/temp/
